.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-info {


  h6 {
    color: white;
    margin-top: 8px;
    margin-left: 9px;
  }

  .gab-avatar {
    border: 1px solid white;
    border-radius: 50%;
    width: 65px;
    margin-top: 12px;
    margin-left: 13px
  }
}



  h1 {
    text-align: center;
    margin: 100px auto 90px;
    text-shadow: 2px 2px 0px #3e3e3e;
    color: #cb423c;
  }


.entities {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;

  .entity-avatar {
    border-radius: 50%;
    width: 80px;
    object-fit: cover;
    height: 80px;
    box-shadow: 0px 7px 30px #b5b5b5;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    &:hover {
      text-decoration: none;
    }
    p {
      margin-top: 10px;
    }
  }
}

body#entities-index {
  // background: linear-gradient(149deg, rgba(26,56,26,1) 18%, rgba(98,152,98,1) 77%);
  background: image-url("food.png");
  // background: url("https://img.freepik.com/free-photo/top-view-vegetable-composition-onions-garlics-peppers-greens-dark-background-seasoning-pepper-food-product-color_140725-31050.jpg?size=626&ext=jpg");
  background-size: cover;
  background-position: center right;
  min-height: 100vh;
}
