// Specific CSS for your home-page

.name_list{
  
  .collection_check_boxes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + label {
    background-color: red;
  }
}

