#sessions-new {
  background-image: image-url("food.jpg");
  background-size: cover;
  background-position: center right;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
  .button-green{
    padding: 16px 40px;
  }

  .logo {
    width: 100px;
    display: block;
    margin: 0 auto 20px;
}
}

