<div class="container">

  <div class="home-info">

    <h1>O'LUNCH</h1>

    <div class="entities">
      <% @entities.each do |entity| %>
        <%= link_to entity_locations_path(entity) do %>
          <%= cl_image_tag entity.photo.key, class: 'entity-avatar' %>
          <p><%= entity.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
