.card-pending {
  padding: 55px;
  overflow: hidden;
  height: 120px;
  background: #ffffff;
  box-shadow: 0 0 15px #fa4c4c;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
  margin-top: 15px;
}

.card-event {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: white;
  border-radius: 4px;
  min-width: 60%;
  box-shadow: 3px 6px 10px #d8d8d8;
  margin-bottom: 25px;
  padding: 0;
  overflow: hidden;
  flex-wrap: wrap;
  .avatar{
    height: 50px;
    width: 50px;
  }
  i#refuse {
    color:white;
    // color:#c11717;
    font-size: 35px;
    padding-right: 5px;
  }
  i#accept {
    color: white;
    // color: #00806e;
    font-size: 32px;
  }
  .test-action {
    border-top: 1px dashed lightgray;
  }
}


.card-info {
  text-align: center;
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 15px;
  p {
    margin-bottom: 5px;
  }
}

.card-time {
  // display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  text-align: center;
  align-items: center;
  display: flex;
  color: white;
  background: linear-gradient(145deg, #a91e37 23.58%, #f6758d 98.96% );
  p#time {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 900;
  }

  p#date {
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 300;
  }


}

.card-info-top {
  display: flex;
  height: 60%;

}

.card-info-bottom {
  height: 40%;
  // padding-bottom: 3px;
  display: flex;

}

.card-info-top-left {
  text-align: left;
  p:first-child {
    font-weight: 400;
  }
}

.card-info-top-right {

  width: 20%;
}

.validates a {
  font-size: 27px;
}

.validates {
  margin-top: 10px;
}

.location-name {
  font-size: 22px;
}

#events {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;

}

