#map {
  position: relative;
  canvas.mapboxgl-canvas {
    width: 100vw !important;
  }
}

.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.location-show {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: 12px;
  margin-left: 12px;
  z-index: 10;
  height: 70%;
  box-shadow: 3px -1px 15px -3px rgba(0,0,0,0.64);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: bottom 0.3s ease;

  > img {
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
}


.location-hide {
  bottom: -100%;
}

.location-show__details {
  padding: 15px;
  font-size: 15px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  > div {
    flex-grow: 1;
  }

  .button {
    display: block;
    background-color: #629862;
    padding: 12px;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
  }

  .comment-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #676767;
  }

  .present-users {
    margin-top: 40px;
    display: flex;
    align-items: center;

    .avatar {
      margin: 0 5px;
    }
  }

  .fa-beer:before {
    font-size: 30px;
    color: #efb64d;
    padding-right: 15px;
  }
}

.marker {
  font-size: 40px;
  color: #629862;
}
