.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  z-index: 1000;
  width: 100px;

  .navbar-nav {
    margin-top: 60px;
    justify-content: space-around;
    height: calc(100vh - 60px);
    align-items: center;
  }

  button {
    margin: 0 auto;
    border: 0;
  }
}

.color-green {
  color: #629862;
}

.font-size-40px {
  font-size: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-collapse {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: left 0.3s ease-in;
  width: 100px;
  box-shadow: 1px 0px 20px #bfbfbf;

  &:not(.show) {
    left: -100%;
  }

  .fa-home:before {
    font-size: 40px;
  }

  // p {
  //   justify-content: center;
  //   align-items: center;
  //   margin-left: 8px;
  // }

  // .fa-plus-square {
  //   font-size: 40px;
  // }
}

li.nav-item {
  text-align: center;
}

// avatar animation css 
.loading {
  animation: rotation 0.95s linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}


