.olunch-input {
  border-color: $brand-color-dark;
  border-width: 3px;
  text-align: center;
  text-align-last: center;
}

.test-label {
  color: #495057;
  &:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
}

.photo-upload-label {
  // display: block;
  // background-color: $brand-background;
  // border-color: $brand-color;
  background-color: $light-gray;
  // border-width: 3px;
  padding: 12px 20px;
  border-radius: 50px;
  color: $brand-color-dark;
  text-align: center;
  margin-left: 0px;
  // margin-right: 60px;
  margin-top: 12px;
  &:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}

#new_location {
  .form-check {
    padding-left: .5rem;
  }

// if we wherent to remove the focus light blue shadding
  input:focus {
    outline-style: none;
    box-shadow: 0 0 0 0.2rem rgba(246, 117, 141, .25);
    border-color: $brand-color-light;
    // border-color: transparent;
  }
  select:focus {
    outline-style: none;
    box-shadow: 0 0 0 0.2rem rgba(246, 117, 141, .25);
    border-color: $brand-color-light;
    // border-color: transparent;
  }
}
